// media breakpoints
$laptop_width: 1279px;
$tablet_width: 768px;
$mobile_width: 320px;

@mixin media_tablet {
    @media (max-width: $laptop_width) {
        @content;
    }
}

@mixin media_mobile {
    @media (max-width: $tablet_width) {
        @content;
    }
}

//fonts family
$fonts: Georgia, Times, Times New Roman, serif;

//colors
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc3;
$start-screen-gradient-background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
$footer-gradient-background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

//buttons
%primary_button {
    box-sizing: border-box;
    height: 52px;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    border: none;
}

//typography
h1 {
    display: none;
}

h3 {
    font-family: $fonts;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 0;
}

h4 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
}

h5 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #c4c4c4;
}

span {
    display: block;
}

body {
    margin: 0;
}

.header {
    max-width: 1280px;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 30px 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: $color-light-xl;
}

.wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media_tablet() {
        padding: 0 30px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.logo__title {
    color: $color-dark-l;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 35px;
    font-family: $fonts;
}

.logo__subtitle {
    color: $color-dark-3xl;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4px;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;

    &:hover {
        color: $color-dark-3xl;
    }
}

.list__link-active {
    border-bottom: solid 3px $color-primary;
    color: $color-dark-3xl;
}

.list__link-disabled {
    color: $color-dark-l;
}

.pets {
    background-color: $color-light-l;

    &_title {
        margin: 80px auto 60px auto;

        & h3 {
            text-align: center;
        }
    }

    &_slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;

        @include media_tablet(){
            justify-content: space-around;
            padding: 0 calc(50% - 300px);
        }

        & .card {
            width: 270px;
            height: 435px;
            background-color: $color-light-s;
            border-radius: 9px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include media_tablet(){
                &:nth-last-child(-n+2){
                    display: none;
                }

                flex: 0 1 calc(50%-40px);
            }

            &:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                background-color: $color-light-xl;
            }

            &_title {
                font-family: $fonts;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.06em;
                color: $color-dark-l;
                margin: auto auto;
            }

            & button {
                @extend %primary_button;
                width: 187px;
                background-color: $color-light-s;
                margin: 0 auto 30px auto;
                border: 2px solid #f1cdb3;

                &:hover {
                    background-color: $color-primary-light;
                    cursor: pointer;
                }
            }
        }
    }

    &_pagination {
        display: flex;
        align-content: center;
        margin: 60px auto 100px auto;
        column-gap: 20px;

        & button {
            display: block;
            height: 52px;
            width: 52px;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background-color: $color-light-s;

            & h4 {
                margin: 0;
            }
        }

        & .disable {
            border: 2px solid $color-dark-s;
            color: $color-dark-s;
        }

        & .number {
            background: $color-primary;
        }

        & .active {
            &:hover {
                background-color: $color-primary-light;
                cursor: pointer;
            }
        }
    }
}

footer {
    padding-top: 40px;
    background: url(noise_lines_transparent@2X.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

    &_wrapper {
        column-gap: 160px;
    }

    & span {
        display: block;
    }

    & h3 {
        color: $color-light-xl;
    }
    & .contacts_wrapper {
        display: flex;
        justify-content: space-between;
        width: 733px;
        @include media_tablet() {
            width: 704px;
            margin: 0 calc(50% - 354px);
        }
    }

    & .contacts {
        height: 268px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & a {
            display: flex;
            text-decoration: none;
            align-items: center;

            & h4 {
                margin: 0;
                color: $color-primary;
                text-align: start;
            }

            & img {
                margin-right: 20px;
            }
        }
    }

    & .image {
        @include media_tablet() {
            width: 100%;
            padding: 65px calc(50% - 150px);
        }
    }
}
