// media breakpoints
$laptop_width: 1279px;
$tablet_width: 767px;
$mobile_width: 320px;

@mixin media_tablet {
    @media (max-width: $laptop_width) {
        @content;
    }
}

@mixin media_mobile {
    @media (max-width: $tablet_width) {
        @content;
    }
}

//fonts family
$fonts: Georgia, Times, Times New Roman, serif;

//colors
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc3;
$start-screen-gradient-background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
$footer-gradient-background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

//buttons
%primary_button {
    box-sizing: border-box;
    height: 52px;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    border: none;
}

//typography
h1 {
    display: none;
}

%h3-mobile {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-light-xl;
}

h4 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
}

h5 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #c4c4c4;
}

body {
    margin: 0;
}

span {
    display: block;
}

.header {
    max-width: 1280px;
    position: absolute;
    top: 60px;
    height: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;

    @include media_tablet() {
        top: 30px;
    }
}

.wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media_tablet() {
        padding: 0 30px;
    }

    @include media_mobile() {
        padding: 0 10px;
    }
}

%hamburger-line {
    display: inline-block;
    content: "";
    position: absolute;
    border: 2px solid $color-primary;
    width: 100%;
}

.hamburger {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    margin: 19px 43px 19px 0;
    transition: 1s;
    z-index: 30;

    @include media_mobile() {
        display: inline-block;
    }

    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }

    &_line {
        @extend %hamburger-line;
        top: calc(50% + 0px);
        left: 0;
    }

    &:after {
        @extend %hamburger-line;
        top: calc(100% - 0px);
        left: 0;
    }
}

.hamburger_active{
    transform: rotate(90deg);
    transition: 1s;
    z-index: 30ps;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    &_active{
        display: block;
        background-color:rgba(41, 41, 41, 0.6);
    }
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.logo__title {
    color: $color-primary;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 35px;
    font-family: $fonts;
}

.logo__subtitle {
    color: $color-light-xl;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4px;
}

.menu {
    display: flex;
    width: 443px;

    @include media_mobile() {
        height: 742px;
        max-width: 300px;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20;
        background-color: $color-dark-3xl;
        white-space: nowrap;
        transition: 1s;
    }
}

.menu_active {
    @include media_mobile(){
        right: 0;
        transition: 1s;
        width: 320px;
    }

    & .list{
        height: 50%;
        width: 50%;
        margin: auto 12.5%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;  
    }
}

.list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: $color-dark-s;

    &:hover {
        color: $color-light-s;
    }

    @include media_mobile() {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 160%;
        color: #cdcdcd;
        text-align: center;
    }
}

.list__link-active {
    border-bottom: solid 3px $color-primary;
    color: $color-light-s;
}

.list__link-disabled {
    pointer-events: none;
}

.header-background {
    background: $start-screen-gradient-background;
    padding-top: 180px;

    @include media_tablet() {
        padding-top: 150px;
    }
}

.hero {
    display: flex;
    margin: 0 auto;

    @include media_tablet() {
        flex-direction: column;
    }

    &_img_container {
        @include media_mobile() {
            margin: 0 auto;
        }
    }

    & img {
        width: 698px;
        height: 724px;
        padding-left: 42px;

        @include media_tablet() {
            width: 569px;
            height: 593px;
            padding-top: 73px;
            margin: 0 auto;
        }

        @include media_mobile() {
            width: 260px;
            height: 272px;
            padding: 0px;
            margin: 30px auto 0 auto;
        }
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding-top: 127px;
    /*width: 460px;*/

    & button {
        @extend %primary_button;
        width: 207px;
        margin-top: 26px;
        background-color: $color-primary;

        &:hover {
            background-color: $color-primary-light;
            cursor: pointer;
        }

        @include media_tablet() {
            margin: 27px auto;
        }

        @include media_mobile() {
            margin: 0 auto;
        }
    }

    @include media_tablet() {
        margin: 0 auto;
        max-width: 460px;
        padding: 0;
    }

    @include media_mobile() {
        justify-content: center;
        width: 300px;
    }

    & .paragraph-i {
        margin: 49px 0;
    }
}

h2 {
    color: $color-light-xl;
    font-family: $fonts;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
}

.hero-h2 {
    width: 310px;

    @include media_mobile() {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-light-xl;
        margin: 0 auto;
        text-align: center;
    }
}

.paragraph-i {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    margin-top: 5px;
}

h3 {
    font-family: $fonts;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 0;
}
.h3_about {
    width: 370px;

    @include media_mobile() {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin: 0 auto;
        text-align: center;
        width: 290px;
    }
}

.about-text {
    width: 430px;
    padding-top: 14px;

    & p {
        padding-top: 25px;
        margin: 0;
        width: 430px;

        @include media_mobile() {
            width: 300px;
            text-align: justify;
        }
    }

    & .paragraph-i {
        @include media_mobile() {
            width: 300px;
            color: $color-dark-xl;
        }
    }

    @include media_tablet() {
        padding-top: 80px;
    }

    @include media_mobile() {
        width: 300px;
    }
}

.about {
    padding: 80px 215px 100px 215px;

    @include media_tablet() {
        padding: 0;
        margin: 0 auto;
        height: 1048px;
    }

    &_wrapper {
        @include media_tablet() {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            row-gap: 80px;
        }
    }

    & img {
        height: 408px;

        @include media_tablet() {
            width: 300px;
        }

        @include media_mobile() {
            width: 260px;
            height: 354px;
        }
    }
}

.pets {
    background-color: $color-light-l;

    &_title {
        text-align: center;
        margin: auto;
        width: 400px;
        padding-top: 80px;

        & h3 {
            @include media_mobile() {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: $color-dark-l;
                margin: 0 auto;
                text-align: center;
                width: 290px;
            }
        }
    }

    &_slider {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
            display: block;
            height: 52px;
            width: 52px;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background-color: $color-light-s;

            &:hover {
                background-color: $color-primary-light;
                cursor: pointer;
            }

            @include media_mobile() {
                margin: 20px auto;
            }
        }

        &_wrapper {
            width: 990px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 60px;

            & .card {
                width: 270px;
                height: 435px;
                background-color: $color-light-s;
                border-radius: 9px;

                &:hover {
                    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                    background-color: $color-light-xl;
                }

                &_title {
                    font-family: $fonts;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: $color-dark-l;
                    margin-top: 25px;
                    margin-bottom: 30px;
                }

                & button {
                    @extend %primary_button;
                    width: 187px;
                    background-color: $color-light-s;
                    margin: auto auto;
                    border: 2px solid #f1cdb3;

                    &:hover {
                        background-color: $color-primary-light;
                        cursor: pointer;
                    }
                }
            }

            @include media_tablet() {
                justify-content: space-around;
                max-width: 580px;
                & .card:nth-child(3) {
                    display: none;
                }
            }

            @include media_mobile() {
                & .card:nth-child(2) {
                    display: none;
                }
                width: 100%;
                order: -1;
                max-width: 750px;
            }
        }

        @include media_mobile() {
            flex-wrap: wrap;
        }
    }

    &_button {
        margin: auto;
        padding: 60px 0 100px 0;

        & button {
            @extend %primary_button;
            width: 261px;
            background-color: $color-primary;

            &:hover {
                background-color: $color-primary-light;
                cursor: pointer;
            }
        }
    }
}

.help {
    & h3 {
        margin: 80px auto 60px auto;
        text-align: center;

        @include media_mobile() {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-dark-l;
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }
    }
    &_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 120px;
        row-gap: 28px;
        margin-bottom: 77px;

        @include media_tablet() {
            column-gap: 115px;
            row-gap: 108px;
        }

        @include media_mobile() {
            width: 300px;
            column-gap: 30px;
            row-gap: 30px;
            margin: 20px auto 0 auto;
        }

        & h4 {
            margin-top: 30px;

            @include media_mobile() {
                white-space: nowrap;
            }
        }
    }

    &_item {
        display: flex;
        flex-direction: column;

        @include media_tablet() {
            flex: 0 1 20%;
        }

        @include media_mobile() {
            margin: 30px auto;
        }
    }
}

.donation {
    padding: 79px 183px 0 182px;
    @include media_tablet() {
        padding: 0;
    }

    & h3 {
        @include media_mobile() {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-dark-l;
            margin: 0 auto;
            text-align: center;
            width: 290px;
        }
    }

    &_wrapper {
        @include media_tablet() {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    & .img_pet {
        padding-top: 10px;
        height: 261px;

        @include media_mobile() {
            width: 260px;
            height: 135px;
        }
    }

    &_information {
        width: 380px;
        margin-bottom: 101px;

        @include media_mobile() {
            width: 300px;
        }

        & h5 {
            margin: 20px 0;

            @include media_mobile() {
                color: $color-dark-l;
                letter-spacing: 0px;
                margin: 20px auto;
            }
        }

        & a {
            width: 339px;
            display: flex;
            justify-content: space-around;
            background-color: $color-primary;
            padding: 10px 4px;
            text-decoration: none;
            border-radius: 9px;
            color: $color-dark-l;

            @include media_mobile() {
                width: 281px;
            }

            &:hover {
                transform: scale(1.05);
            }

            & h4 {
                margin: 0;

                @include media_mobile() {
                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 110%;
                    letter-spacing: 0.06em;
                    color: &$color-dark-l;
                }
            }

            & img {
                padding-left: 3px;
            }
        }

        @include media_tablet() {
            margin-bottom: 60px;
        }

        & .donation_description {
            font-family: Arial;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: $color-dark-m;
            margin-top: 20px;
            margin-bottom: 0;

            @include media_mobile() {
                text-align: justify;
            }
        }
    }
}

footer {
    padding-top: 40px;
    background: url(noise_lines_transparent@2X.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

    & .footer_wrapper {
        column-gap: 160px;
        @include media_mobile() {
            display: flex;
            flex-direction: column;
            column-gap: 0px;
        }
    }

    & span {
        display: block;
    }

    & h3 {
        color: $color-light-xl;
    }
    & .contacts_wrapper {
        display: flex;
        justify-content: space-between;
        width: 733px;
        @include media_tablet() {
            width: 704px;
            margin: 0 calc(50% - 354px);
        }

        @include media_mobile() {
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
        }
    }

    & .contacts {
        height: 268px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include media_mobile() {
            align-items: center;
        }

        & a {
            display: flex;
            text-decoration: none;
            align-items: center;

            & h4 {
                margin: 0;
                color: $color-primary;
                text-align: start;
            }

            & img {
                margin-right: 20px;
            }
        }

        & h3 {
            text-align: center;

            @include media_mobile() {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: $color-light-xl;
            }
        }

        & .location {
            @include media_mobile() {
                width: 100%;
            }
        }
    }

    & .image {
        @include media_tablet() {
            width: 100%;
            padding: 65px calc(50% - 150px);
        }

        @include media_mobile() {
            padding: 0px;
            margin: 40px auto 0px auto;
            width: 260px;

            & img{
                width:100%;
            }
        }
    }
}
