.hero-content button, .pets_slider_wrapper .card button, .pets_button button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
}

h1 {
  display: none;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #c4c4c4;
}

body {
  margin: 0;
}

span {
  display: block;
}

.header {
  max-width: 1280px;
  position: absolute;
  top: 60px;
  height: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (max-width: 1279px) {
  .header {
    top: 30px;
  }
}

.wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1279px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
}

.hamburger:before, .hamburger_line, .hamburger:after {
  display: inline-block;
  content: "";
  position: absolute;
  border: 2px solid #f1cdb3;
  width: 100%;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  margin: 19px 43px 19px 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 30;
}

@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger:before {
  top: 0;
  left: 0;
}

.hamburger_line {
  top: calc(50% + 0px);
  left: 0;
}

.hamburger:after {
  top: calc(100% - 0px);
  left: 0;
}

.hamburger_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 30ps;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.overlay_active {
  display: block;
  background-color: rgba(41, 41, 41, 0.6);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.logo__title {
  color: #f1cdb3;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 35px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.logo__subtitle {
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 4px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

@media (max-width: 767px) {
  .menu {
    height: 742px;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 20;
    background-color: #292929;
    white-space: nowrap;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 767px) {
  .menu_active {
    right: 0;
    -webkit-transition: 1s;
    transition: 1s;
    width: 320px;
  }
}

.menu_active .list {
  height: 50%;
  width: 50%;
  margin: auto 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
}

.list__link:hover {
  color: #fafafa;
}

@media (max-width: 767px) {
  .list__link {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 160%;
    color: #cdcdcd;
    text-align: center;
  }
}

.list__link-active {
  border-bottom: solid 3px #f1cdb3;
  color: #fafafa;
}

.list__link-disabled {
  color: #cdcdcd;
}

.header-background {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 180px;
}

@media (max-width: 1279px) {
  .header-background {
    padding-top: 150px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .hero_img_container {
    margin: 0 auto;
  }
}

.hero img {
  width: 698px;
  height: 724px;
  padding-left: 42px;
}

@media (max-width: 1279px) {
  .hero img {
    width: 569px;
    height: 593px;
    padding-top: 73px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .hero img {
    width: 260px;
    height: 272px;
    padding: 0px;
    margin: 30px auto 0 auto;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 127px;
  /*width: 460px;*/
}

.hero-content button {
  width: 207px;
  margin-top: 26px;
  background-color: #f1cdb3;
}

.hero-content button:hover {
  background-color: #fddcc3;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .hero-content button {
    margin: 27px auto;
  }
}

@media (max-width: 767px) {
  .hero-content button {
    margin: 0 auto;
  }
}

@media (max-width: 1279px) {
  .hero-content {
    margin: 0 auto;
    max-width: 460px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .hero-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
}

.hero-content .paragraph-i {
  margin: 49px 0;
}

h2 {
  color: #ffffff;
  font-family: Georgia, Times, Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
}

.hero-h2 {
  width: 310px;
}

@media (max-width: 767px) {
  .hero-h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
  }
}

.paragraph-i {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 5px;
}

h3 {
  font-family: Georgia, Times, Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.h3_about {
  width: 370px;
}

@media (max-width: 767px) {
  .h3_about {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    width: 290px;
  }
}

.about-text {
  width: 430px;
  padding-top: 14px;
}

.about-text p {
  padding-top: 25px;
  margin: 0;
  width: 430px;
}

@media (max-width: 767px) {
  .about-text p {
    width: 300px;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .about-text .paragraph-i {
    width: 300px;
    color: #4c4c4c;
  }
}

@media (max-width: 1279px) {
  .about-text {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .about-text {
    width: 300px;
  }
}

.about {
  padding: 80px 215px 100px 215px;
}

@media (max-width: 1279px) {
  .about {
    padding: 0;
    margin: 0 auto;
    height: 1048px;
  }
}

@media (max-width: 1279px) {
  .about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 80px;
  }
}

.about img {
  height: 408px;
}

@media (max-width: 1279px) {
  .about img {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .about img {
    width: 260px;
    height: 354px;
  }
}

.pets {
  background-color: #f6f6f6;
}

.pets_title {
  text-align: center;
  margin: auto;
  width: 400px;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .pets_title h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    width: 290px;
  }
}

.pets_slider {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets_slider button {
  display: block;
  height: 52px;
  width: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: #fafafa;
}

.pets_slider button:hover {
  background-color: #fddcc3;
  cursor: pointer;
}

@media (max-width: 767px) {
  .pets_slider button {
    margin: 20px auto;
  }
}

.pets_slider_wrapper {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.pets_slider_wrapper .card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
}

.pets_slider_wrapper .card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}

.pets_slider_wrapper .card_title {
  font-family: Georgia, Times, Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
  margin-bottom: 30px;
}

.pets_slider_wrapper .card button {
  width: 187px;
  background-color: #fafafa;
  margin: auto auto;
  border: 2px solid #f1cdb3;
}

.pets_slider_wrapper .card button:hover {
  background-color: #fddcc3;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .pets_slider_wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 580px;
  }
  .pets_slider_wrapper .card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets_slider_wrapper {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 750px;
  }
  .pets_slider_wrapper .card:nth-child(2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets_slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pets_button {
  margin: auto;
  padding: 60px 0 100px 0;
}

.pets_button button {
  width: 261px;
  background-color: #f1cdb3;
}

.pets_button button:hover {
  background-color: #fddcc3;
  cursor: pointer;
}

.help h3 {
  margin: 80px auto 60px auto;
  text-align: center;
}

@media (max-width: 767px) {
  .help h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

.help_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 28px;
  margin-bottom: 77px;
}

@media (max-width: 1279px) {
  .help_container {
    -webkit-column-gap: 115px;
            column-gap: 115px;
    row-gap: 108px;
  }
}

@media (max-width: 767px) {
  .help_container {
    width: 300px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    margin: 20px auto 0 auto;
  }
}

.help_container h4 {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .help_container h4 {
    white-space: nowrap;
  }
}

.help_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1279px) {
  .help_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}

@media (max-width: 767px) {
  .help_item {
    margin: 30px auto;
  }
}

.donation {
  padding: 79px 183px 0 182px;
}

@media (max-width: 1279px) {
  .donation {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .donation h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    width: 290px;
  }
}

@media (max-width: 1279px) {
  .donation_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.donation .img_pet {
  padding-top: 10px;
  height: 261px;
}

@media (max-width: 767px) {
  .donation .img_pet {
    width: 260px;
    height: 135px;
  }
}

.donation_information {
  width: 380px;
  margin-bottom: 101px;
}

@media (max-width: 767px) {
  .donation_information {
    width: 300px;
  }
}

.donation_information h5 {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .donation_information h5 {
    color: #545454;
    letter-spacing: 0px;
    margin: 20px auto;
  }
}

.donation_information a {
  width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f1cdb3;
  padding: 10px 4px;
  text-decoration: none;
  border-radius: 9px;
  color: #545454;
}

@media (max-width: 767px) {
  .donation_information a {
    width: 281px;
  }
}

.donation_information a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.donation_information a h4 {
  margin: 0;
}

@media (max-width: 767px) {
  .donation_information a h4 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: .donation_information a h4 #545454;
  }
}

.donation_information a img {
  padding-left: 3px;
}

@media (max-width: 1279px) {
  .donation_information {
    margin-bottom: 60px;
  }
}

.donation_information .donation_description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .donation_information .donation_description {
    text-align: justify;
  }
}

footer {
  padding-top: 40px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

footer .footer_wrapper {
  -webkit-column-gap: 160px;
          column-gap: 160px;
}

@media (max-width: 767px) {
  footer .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

footer span {
  display: block;
}

footer h3 {
  color: #ffffff;
}

footer .contacts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 733px;
}

@media (max-width: 1279px) {
  footer .contacts_wrapper {
    width: 704px;
    margin: 0 calc(50% - 354px);
  }
}

@media (max-width: 767px) {
  footer .contacts_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
}

footer .contacts {
  height: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  footer .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contacts a h4 {
  margin: 0;
  color: #f1cdb3;
  text-align: start;
}

footer .contacts a img {
  margin-right: 20px;
}

footer .contacts h3 {
  text-align: center;
}

@media (max-width: 767px) {
  footer .contacts h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  footer .contacts .location {
    width: 100%;
  }
}

@media (max-width: 1279px) {
  footer .image {
    width: 100%;
    padding: 65px calc(50% - 150px);
  }
}

@media (max-width: 767px) {
  footer .image {
    padding: 0px;
    margin: 40px auto 0px auto;
    width: 260px;
  }
  footer .image img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */